.HomeContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.Navbar {
	display: flex;
	width: 100%;
	align-items: center;
	padding-top: 16px;
	padding-right: 39.44px;
	padding-left: 43px;
	padding-bottom: 17px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

	.InnerNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.Left {
			.Logo {
				margin-right: 113.93px;
				.FirstLogo {
					font-weight: 500;
					font-size: 28px;
				}
				.SecondLogo {
					font-weight: 400;
					font-size: 28px;
				}
			}
		}
		.Search {
			width: 682px;
			margin-right: 313px;
			display: flex;
			input[type='text'] {
				background-color: rgba(251, 250, 250, 1);
				padding-left: 50.74px;
				border: none;
				outline: none;
				width: 100%;
				height: 40px;
				font-size: 17px;
				align-items: center;
				border-radius: 5px;
				background-repeat: no-repeat;
				background-position: 20px 10.53px;
				background-size: 20px;
				background-image: url('/src/images/search.svg');
				-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
				&::placeholder {
					color: rgba(0, 0, 0, 0.49);
					font-style: normal;
					font-size: 17px;
					font-weight: 200;
				}
			}
		}
		.Signup {
			text-decoration: none;
			margin-right: 46.67px;
			font-size: 17px;
			font-weight: 400;
			cursor: pointer;
			color: rgba(0, 0, 0, 1);
		}
		.Login {
			text-decoration: none;
			font-size: 17px;
			font-weight: 400;
			cursor: pointer;
			color: rgba(0, 0, 0, 1);
		}
	}
}

.FirstLayer {
	display: flex;
	width: 100%;
	background-color: yellow;
	padding-top: 16px;
	padding-left: 88px;
	padding-right: 54px;
	.FirstLayerContent {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-around;
		// border: 1px solid red;
		.FirstLayerLeft {
			.TopInfo {
				width: 652px;
				font-size: 40px;
				font-weight: 500;
				margin-bottom: 30px;
				color: rgba(0, 0, 0, 1);
			}
			.BottomInfo {
				font-size: 26px;
				font-weight: 300;
				font-style: normal;
				color: rgba(0, 0, 0, 1);
				margin-bottom: 40px;
			}
			.ButtonContainer {
				margin-bottom: 40px;
				.Join {
					background-color: rgba(253, 130, 52, 1);
					border: none;
					color: white;
					padding: 15px 30px;
					text-align: center;
					text-decoration: none;
					font-size: 18px;
					border-radius: 8px;
					margin-right: 36px;
					font-weight: 300;
				}
				.SignIn {
					border: 1px solid rgba(253, 130, 52, 1);
					color: rgba(253, 130, 52, 1);
					padding: 15px 30px;
					text-align: center;
					text-decoration: none;
					font-size: 18px;
					border-radius: 8px;
					font-weight: 300;
					background-color: #fff;
				}
			}

			.Exploring {
				display: flex;
				align-items: center;

				.Explore {
					font-size: 26px;
					font-weight: 300;
					color: rgba(253, 130, 52, 1);
				}
			}
		}

		.FirstLayerRight {
			// width: 700px;
			// height: 600px;
			// padding: 100px;
			background-image: url('/src/images/hero.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-color: green;
			// border: 1px solid red;
		}
	}
}

.SecondLayer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 88px;
	padding-right: 54px;

	.StartExploring {
		font-size: 40px;
		font-weight: 300;
		font-style: normal;
		margin-bottom: 15px;
		color: rgba(0, 0, 0, 1);
	}

	.Curated {
		font-size: 20px;
		font-weight: 300;
		font-style: normal;
		color: rgba(36, 41, 44, 0.5);
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	// .HomeContainer {
	// 	// flex-direction: column;
	// 	// background-color: blue;
	// 	// display: block;
	// }

	.FirstLayer {
		width: 100%;
		background-color: yellow;
		display: flex;
		flex-direction: column;
		// align-items: center;

		.FirstLayerContent {
			display: flex;
			// align-items: center;
			width: 100%;
			flex-direction: column;
			// border: 1px solid red;
			.FirstLayerLeft {
				.TopInfo {
					font-size: 10px;
					font-weight: 500;
					// margin-bottom: 30px;
					color: rgba(0, 0, 0, 1);
				}
				.BottomInfo {
					font-size: 26px;
					font-weight: 100;
					font-style: normal;
					color: rgba(0, 0, 0, 1);
					// margin-bottom: 40px;
				}
				.ButtonContainer {
					// margin-bottom: 40px;
					.Join {
						background-color: rgba(253, 130, 52, 1);
						border: none;
						color: white;
						padding: 7.5px 15px;
						text-align: center;
						text-decoration: none;
						font-size: 13px;
						border-radius: 8px;
						// margin-right: 36px;
						font-weight: 300;
					}
					.SignIn {
						border: 1px solid rgba(253, 130, 52, 1);
						color: rgba(253, 130, 52, 1);
						padding: 7.5px 15px;
						text-align: center;
						text-decoration: none;
						font-size: 13px;
						border-radius: 8px;
						font-weight: 300;
						background-color: #fff;
					}
				}

				.Exploring {
					// display: flex;
					align-items: center;

					.Explore {
						font-size: 20px;
						font-weight: 300;
						color: rgba(253, 130, 52, 1);
					}
				}
			}

			.FirstLayerRight {
				width: 100%;
				height: 200px;
				padding: 100px;
				background-image: url('/src/images/hero.png');
				// background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}

	// ---------------------------------------
	.SecondLayer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 88px;
		padding-right: 54px;

		.StartExploring {
			font-size: 20px;
			font-weight: 300;
			font-style: normal;
			margin-bottom: 15px;
			color: rgba(0, 0, 0, 1);
		}

		.Curated {
			font-size: 10px;
			font-weight: 300;
			font-style: normal;
			color: rgba(36, 41, 44, 0.5);
		}
	}

	.Navbar {
		display: flex;
		width: 100%;
		align-items: center;
		background-color: blue;
		padding-top: 16px;
		// padding-right: 39.44px;
		// padding-left: 43px;
		padding-bottom: 17px;
		-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

		.InnerNav {
			display: flex;
			// justify-content: space-between;
			align-items: center;
			// width: 100%;
			.Left {
				.Logo {
					// margin-right: 113.93px;
					.FirstLogo {
						font-weight: 200;
						font-size: 20px;
					}
					.SecondLogo {
						font-weight: 100;
						font-size: 15px;
					}
				}
			}
			.Search {
				width: 682px;
				margin-right: 313px;
				display: flex;
				input[type='text'] {
					background-color: rgba(251, 250, 250, 1);
					padding-left: 50.74px;
					border: none;
					outline: none;
					width: 100%;
					height: 40px;
					font-size: 17px;
					align-items: center;
					border-radius: 5px;
					background-repeat: no-repeat;
					background-position: 20px 10.53px;
					background-size: 20px;
					background-image: url('/src/images/search.svg');
					-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
					-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
					box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
					&::placeholder {
						color: rgba(0, 0, 0, 0.49);
						font-style: normal;
						font-size: 17px;
						font-weight: 200;
					}
				}
			}
			.Signup {
				text-decoration: none;
				// margin-right: 46.67px;
				font-size: 17px;
				font-weight: 200;
				cursor: pointer;
				color: rgba(0, 0, 0, 1);
			}
			.Login {
				text-decoration: none;
				font-size: 17px;
				font-weight: 200;
				cursor: pointer;
				color: rgba(0, 0, 0, 1);
			}
		}
	}
}
